html {
  max-height: 100vh !important;
}

#content {
  display: flex;
  flex-direction: row;
}

#content > div {
  background-color: #F1E4E8;
  height: calc(100vh - 70px);
  margin: 20px 10px 10px 0;
}

#chatInfo {
  display: flex;
  flex-direction: column;
  border-radius: 0 10px 10px 0;
  padding: 17px 10px 0 20px;
}

#chatInfo > div {
  height: 50%;
}

.listContainer > h3 {
  font-size: 1.3em;
  font-weight: bold;
}

#chatContainer {
  border-radius: 10px 0 0 10px;
}

li {
  background-color: #C99DA3;
  padding: 0 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#chatArea {
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  border: 3px solid #996888 !important;
  box-shadow: 0 0 15px 3px #996888;
  z-index: 999;
  position: relative;
}

#inputArea {
  display: flex;
  flex-direction: row;
}

#log {
  border-radius: 10px 10px 0 0;
  background-color: #2A2B2A;
  user-select: none !important;
  overflow: auto;
  padding: 10px;
  color: white;
}

#input {
  height: 35px;
  border-radius: 0 0 0 10px;
  border: none;
  background-color: #5E4955;
  padding: 0 10px;
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

#send-btn {
  border: none;
  border-radius: 0 0 9px 0;
  background-color: #C99DA3;
  transition: background-color 0.1s ease-out;
  font-weight: bold;
  width: 100px;
}

#send-btn:hover {
  background-color: #996888;
}

#roomName {
  font-size: 1.5em;
  margin: 0;
}

#roomCode {
  font-weight: bold;
  color: #5E4955;
}

#room-code{
  margin-top: 10px;
}

button {
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.list-btn {
  background-color: #5E4955;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  height: 35px;
}

.list-btn:hover {
  background-color: #996888;
}


#tabs {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 25px;
}

.tab-btn {
  background-color: #DDA77B;
  padding: 0 10px;
  height: 35px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  color: black;
}

.tab-btn:hover {
  background-color: #CD7D3C;
}

a.navbar-item {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 5px;
  transition: background-color 0.1s ease-out;
}

div.navbar-start > a.navbar-item:hover {
  background-color: #996888 !important;
  color: white;
}

#chat-menu {
  background-color: #5E4955;
  margin: 5px 10px;
  border-radius: 5px;
}

/* smaller screens */
#chat-menu.is-active {
  margin: 0;
  border-radius: 0;
  padding: 5px 10px;
}

.navbar {
  background-color: #2A2B2A !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.navbar-brand {
  background-color: #2A2B2A;
  font-weight: bold;
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#fighter {
  background-image: url("../images/fighter.png");
}

#spamton {
  background-image: url("../images/spamton.gif");
  background-size: 100px 100px;
  background-repeat: repeat;
}

#sprites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 72%;
}

.sprite {
  width: 100px;
  height: 100px;
  animation-iteration-count: infinite;
}

#teamList {
  width: 25%;
}

#teamList > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  height: 50px;
}

#teamList > li > a {
  color: black;
}

.snowfall {
  background-image: url("../images/snowfall.gif");
  background-size: 1000px;
  background-repeat: repeat;
  background-color: #5E4955;
  background-blend-mode: multiply;
}

.chatmsg {
  width: 100%;
  background-color: #1A1B1A;
  border-radius: 5px;
  margin-bottom: 5px;
}

.chatimg {
  max-height: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}
